.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #3f87a6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
}

.App-link {
  color: #09d3ac;
}

.button {
  color: white;
  background-color: #3f87a6;
  font-size: 1rem;
  margin: none;
  padding: 0.5rem;
  font-weight: bold;
}

p {
  font-size: 0.5rem;
  margin: 0;
  padding: 0.1rem;
}

caption {
  padding: 1rem 0rem;
  color: #3f87a6;
  font-size: 2rem;
}

thead,
tfoot {
  background-color: #3f87a6;
  color: #fff;
}

tbody {
  background-color: #e4f0f5;
}

caption {
  padding: 10px;
  caption-side: top;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 80vw;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
}

td {
  text-align: center;
}
